#left{

  
    height: 70vh;
    display: inline-block;
    overflow: auto;
}

.casilla{
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding: 5%;
  background: #fdd44e;
}

.header{
  background: #f53240;

}

.categoria{
  background: #f53240;

}



.header-left{

  border-top-left-radius: 10px;
}


.header-right{

  border-top-right-radius: 10px;
}

.div-gen{

        overflow: hidden;
        position: relative;
        width: 100%;
    
}
.perfil{

        height: 70vh;
        width: 100%;
        right: 0;
        top: 0;
   
}

.coin{
  height: 30vh;
  width: 30;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 100px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #f53240; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #bf2a34; 
  }